 <!-- header middle 
 <div class="header_middle pt20 pb20 dn-992">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xxl-2">
        <div class="header_top_logo_home1">
          
          {% if 'use_name' in company.logo_type %}
          <a href="{% url 'store:home' %}">
            <div class="logo">{{company.name}}</div>
          </a>
          {% endif %}
          

          {% if 'use_image' in company.logo_type %}
          <a href="{% url 'store:home' %}">
            <div class="logo"><img src="{{company.logo.url}}" style="width: 50px; height: 50px; border-radius: 10px; object-fit: cover;" alt="{{company.name}}"></div>
          </a>
          {% endif %}

          {% if 'use_landscape' in company.logo_type %}
          <a href="{% url 'store:home' %}">
            <div class="logo"><img src="{{company.logo.url}}" style="width: 170px; height: 50px; border-radius: 10px; object-fit: fill;" alt="{{company.name}}"></div>
          </a>
          {% endif %}
            
        </div>
      </div>
      <div class="col-lg-3 col-xxl-5">
        <div class="header_middle_advnc_search">
          <div class="search_form_wrapper">
            <div class="row">
              <div class="col-audto p0">
                <div class="top-search">
                  <form action="{% url 'store:search' %}" method="GET" class="form-search" >
                    <div class="box-search prde_line">
                      <input class="form_control" type="text" name="q" placeholder="Rechercher des produits…">
                      <button class="btn search-btn purdple-btn" type="submit"><i class="fas fa-search "></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xxl-5 pr0-lg">
        <div class="hm_log_fav_cart_widget justify-content-center">
          <div class="wrapper">
            <ul class="mb0">
              <li class="list-inline-item">
                <a class="header_top_iconbox" href="{% url 'core:buyer-wishlist' %}">
                  <div class="d-block d-md-flex">
                    <div class="icon"><span class="fas fa-heart"></span></div>
                    <div class="details">
                      <p class="subtitle">Liste de souhaits</p>
                      <h5 class="title">Mes articles</h5>
                    </div>
                  </div>
                </a>
              </li>
              <li class="list-inline-item">
                
                {% if request.user.is_authenticated %}
                  <a class="header_top_iconbox signin-filtedr-btn" href="{% url 'core:buyer-dashboard' %}">
                    <div class="d-block d-md-flex">
                      <div class="icon"><span class="fas fa-user"></span></div>
                      <div class="details">
                        <p class="subtitle">Tableau de bord</p>
                        <h5 class="title">Mon compte</h5>
                      </div>
                    </div>
                  </a>
                  
                {% else %}
                  <a class="header_top_iconbox signin-filter-btn" href="{% url 'userauths:sign-in' %}">
                    <div class="d-block d-md-flex">
                      <div class="icon"><span class="fas fa-user"></span></div>
                      <div class="details">
                        <p class="subtitle">Se connecter</p>
                        <h5 class="title">S'inscrire</h5>
                      </div>
                    </div>
                  </a>
                {% endif %}
                  
                
              </li>
              <li class="list-inline-item">
                <a class="header_top_iconbox cart-filtefr-btn" href="{% url 'store:cart-view' %}">
                  <div class="d-block d-md-flex">
                    <div class="icon"><span><img src="{% static 'images/icons/flaticon-shopping-cart-white.svg' %}" alt=""></span><span class="badge cart-items-count">{{request.session.cart_data_obj|length}}</span></div>
                    <div class="details">
                      <!-- <p class="subtitle">{{ cs }}{{ total_session|floatformat:2 }}</p> 
                      <p class="subtitle">Panier</p>
                      <h5 class="title">Articles</h5>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Header Nav 
<header class="header-nav menu_style_home_one main-menu">
  <!-- Ace Responsive Menu 
  <nav class="posr"> 
    <div class="container posr menu_bdrt1"> 
       Menu Toggle btn-->
      <!--<div class="menu-toggle">
        <button type="button" id="menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="posr logo1 home1_style">
        <div id="mega-menu">
          <a class="btn-mega" href="#">
            <img class="me-2" src="{% static 'images/desktop-nav-menu-white.svg' %}" alt="Icône de menu de bureau">
            <span class="fw500 fz16 color-white vam">Parcourir les catégories</span>
          </a>
          <ul class="menu">
            <li>
              {% for c in category %}
              <a class="dropfdown" href="{% url 'store:category_detail' c.cid %}">
                <span class="menu-icn fas fa-angle-right"></span>
                <span class="menu-title">{{c.title}}</span>
              </a>
              {% endfor %}
              
            </li>
          </ul>
        </div>
      </div>
      <!-- Responsive Menu Structure
      <ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa pl200" data-menu-style="horizontal">
        <li class="visible_list"> <a href="{% url 'store:home' %}"><span class="title">Accueil</span></a></li>
        <li class="megamenu_style"> <a href="{% url 'store:shop' %}"><span class="title">Voir les articles</span></a></li>
        <li class="megamenu_style"> <a href="{% url 'store:auction' %}"><span class="title">Enchères</span></a></li>
        <li class="megamenu_style"> <a href="{% url 'store:offer' %}"><span class="title">Offre</span></a></li>
        <li class="visible_list"> <a href="#"><span class="title">Pages <i class="fas fa-caret-down"></i> </span></a>
          <ul>
            <li><a href="{% url 'addons:contact_us' %}">Contactez-nous</a></li>
            <li><a href="{% url 'addons:contact_us' %}">À propos de nous</a></li>
            <li><a href="{% url 'addons:contact_us' %}">Retour d'information</a></li>
            <li><a href="{% url 'addons:contact_us' %}">Signaler un problème</a></li>
            <li><a href="{% url 'core:order-tracker' %}">Suivre la commande</a></li>
            
            {% if request.user.is_authenticated %}
            <li> <a href="#"><span class="title">Mon compte <i class="fas fa-caret-down"></i></span></a>
              <ul>
                <li><a class="active" href="{% url 'core:buyer-dashboard' %}"><span class="fas fa-user"> </span> Détails du compte</a></li>
                <li><a href="{% url 'core:buyer-orders' %}"> <span class="fas fa-list"> </span> Commande</a></li>
                <li><a href="{% url 'core:buyer_bids' %}"><span class="fas fa-chart-simple"> </span> Mes enchères</a></li>
                <li><a href="{% url 'core:buyer_offer' %}"><span class="bi bi-percent"> </span> Mes offres</a></li>
                <li><a href="{% url 'core:buyer-address' %}"><span class="fas fa-location"> </span> Adresse</a></li>
                <li><a href="{% url 'core:buyer-wishlist' %}"><span class="fas fa-heart"></span> Liste de souhaits</a></li>
                <li><a href="{% url 'core:buyer-invoices' %}"><span class="fas fa-file-invoice"></span> Factures</a></li>
                <li><a href="{% url 'userauths:sign-out' %}"><span class="fas fa-right-from-bracket"></span> Se déconnecter</a></li>
              </ul>
            </li>
            {% endif %}

          
          </ul>
        </li>
        <li class="visible_list"> <a href="{% url 'blog:blog-list' %}"><span class="title">Blog</span></a></li>
        
        {% if request.user.profile.seller == True %}
        <li class="visible_list"> <a href="{% url 'vendor:dashboard' %}"><span class="title">Tableau de bord du vendeur</span></a></li>
        {% else %}
        <li class="visible_list"> <a href="{% url 'vendor:become-vendor' %}"><span class="title">Devenir vendeur</span></a></li>
        {% endif %}
          
      </ul>
      <ul id="respMenu2" class="ace-responsive-menu widget_menu_home2 wa" data-menu-style="horizontal">
        <!-- <li class="list-inline-item list_c"><a href="#">Deal of the Day</a></li> 
        <li class="list-inline-item list_c"><a href="{% url 'store:hot_deals' %}">Offres spéciales</a></li>
        <li class="list-inline-item list_c"><a href="">Boutiques</a></li>
        <li class="list-inline-item list_c"><a href="{% url 'core:order-tracker' %}">Suivre la commande</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- Body Ovelay Behind Sidebar 
<div class="hiddenbar-body-ovelay"></div>
<!-- Sign In Hiddn SideBar 
<div class="signin-hidden-sbar">
  <div class="hsidebar-header">
    <div class="sidebar-close-icon"><span class="flaticon-close"></span></div>
    <h4 class="title">S'identifier</h4>
  </div>
  <div class="hsidebar-content">
    <div class="log_reg_form sidebar_area">
      <div class="login_form">
        <form method="POST" action="{% url 'userauths:sign-in-2' %}">
          {% csrf_token %}
          <div class="mb-2 mr-sm-2">
            <label class="form-label">Nom d'utilisateur ou adresse e-mail</label>
            <input type="text" name="email" class="form-control" placeholder="Ali Tufan">
          </div>
          <div class="form-group mb5">
            <label class="form-label">Mot de passe</label>
            <input type="password" name="password" class="form-control" placeholder="Mot de passe">
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="exampleCheck3">
            <label class="custom-control-label" for="exampleCheck3">Se souvenir de moi</label>
            <a class="btn-fpswd float-end" href="#">Mot de passe oublié ?</a>
          </div>
          <button type="submit" class="btn btn-log btn-thm mt20">S'identifier</button>
          <p class="text-center mb25 mt10">Vous n'avez pas de compte? <a class="signup-filtder-btn" href="{% url 'userauths:sign-up' %}">Créer un compte</a></p>
          <div class="hr_content">
            <hr>
            <span class="hr_top_text">ou</span>
          </div>
          <ul class="login_with_social text-center mt30 mb0">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-google"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End Sign In Hiddn SideBar 
<!-- Your Cart Hiddn SideBar 
<div class="cart-hidden-sbar">
  <div class="hsidebar-header">
    <div class="sidebar-close-icon"><span class="flaticon-close"></span></div>
    <h4 class="title">Votre panier</h4>
  </div>
  <div class="hsidebar-content">
    <div class="log_fav_cart_widget hsidebar_home_page">
      <div class="wrapper">
        <ul class="cart">
          <li class="list-inline-item">
            <ul class="dropdown_content">
              <li class="list_content">
                <div>
                  <img class="float-start mt10" src="images/shop/s1.png" alt="75x75">
                  <p>Apple MacBook Pro with Apple M1 Chip</p>
                  <div class="cart_btn home_page_sidebar mt10">
                    <div class="quantity-block home_page_sidebar">
                      <button class="quantity-arrow-minus home_page_sidebar"><img src="images/icons/minus.svg" alt=""></button>
                      <input class="quantity-num home_page_sidebar" type="number" value="3">
                      <button class="quantity-arrow-plus home_page_sidebar"> <span class="flaticon-close"></span> </button>
                    </div>
                    <span class="home_page_sidebar price">$3.399</span>
                  </div>
                  <span class="close_icon"><i class="flaticon-close"></i></span>
                </div>
              </li>
              <li class="list_content">
                <div>
                  <img class="float-start mt10" src="images/shop/s2.png" alt="75x75">
                  <p>Apple MacBook Pro with Apple M1 Chip</p>
                  <div class="cart_btn home_page_sidebar mt10">
                    <div class="quantity-block home_page_sidebar">
                      <button class="quantity-arrow-minus2 home_page_sidebar"><img src="images/icons/minus.svg" alt=""></button>
                      <input class="quantity-num2 home_page_sidebar" type="number" value="3">
                      <button class="quantity-arrow-plus2 home_page_sidebar"> <span class="flaticon-close"></span> </button>
                    </div>
                    <span class="home_page_sidebar price">$3.399</span>
                  </div>
                  <span class="close_icon"><i class="flaticon-close"></i></span>
                </div>
              </li>
              <li class="list_content_total_price">
                <h5>Total: <span class="total_price float-end">$6.225.98</span></h5>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hsidebar_footer_content">
    <div class="list_last_content">
      <div class="lc">
        <p class="para">Achetez pour plus de 98,00 $ pour bénéficier de la livraison gratuite</p>
        <div class="uilayout_range home1_style">
          <div class="sidebar_range_slider mb30 mt25">
            <input class="range-slider" type="text" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="35" data-slider-tooltip="hide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Your Cart Hiddn SideBar 
<!-- Main Header Nav For Mobile 
<div class="main-header-nav-mobile  hidden-md hidden-lg">
  <!-- Ace Responsive Menu 
  <nav>
    <!-- Menu Toggle btn
    <div class="menu-toggle">
      <button id="menu-btn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </nav>
</div>
<!-- /End Main Header Nav For Mobile 

<!-- Shopping Cart 
<div class="shopping-cart-wrap hsidebar-cart">
  <div class="hsidebar-header">
    <div class="cart-top_header">
      <h4 class="cart-title">Votre panier</h4>
      <a href="#" class="close-cart"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="hsidebar-content">
    <div class="log_fav_cart_widget">
      <div class="cart-wrapper">
        <div class="single-cart-item">
          <div class="cart-img">
            <a href="#"><img src="{% static 'images/shop/s1.png' %}" alt=""></a>
          </div>
          <div class="cart-content">
            <h5 class="product-name"><a href="#">Apple MacBook Pro with Apple M1 Chip</a></h5>
            <span class="cart-price"><span class="qty">3x</span>$3.399</span>
          </div>
          <div class="cart-delete">
            <a href="#"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="single-cart-item">
          <div class="cart-img">
            <a href="#"><img src="{% static 'images/shop/s2.png' %}" alt=""></a>
          </div>
          <div class="cart-content">
            <h5 class="product-name"><a href="#">Apple MacBook Pro with Apple M1 Chip</a></h5>
            <span class="cart-price"><span class="qty">3x</span>$3.399</span>
          </div>
          <div class="cart-delete">
            <a href="#"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
      <div class="cart-footer">
        <div class="cart-total">
          <h4>Total Panier</h4>
          <span>$6.225.98</span>
        </div>
        <div class="cart-btn-wrapper mt-50">
          <a href="#" class="btn btn-danger btn-block">Valider le panier</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Shopping Cart -->  
