{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
          <!-- Initialize dataLayer -->
<script>
    window.dataLayer = window.dataLayer || [];
    </script>
      <!-- End Initialize dataLayer -->
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7RMC3KH');</script>
    <!-- End Google Tag Manager -->
    <!-- Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3643595125854701');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3643595125854701&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

    <!--  TRUSTPILOTE Code -->
    <script>
        (function(w,d,s,r,n){w.TrustpilotObject=n;w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)};
            a=d.createElement(s);a.async=1;a.src=r;a.type='text/java'+s;f=d.getElementsByTagName(s)[0];
            f.parentNode.insertBefore(a,f)})(window,document,'script', 'https://invitejs.trustpilot.com/tp.min.js', 'tp');
            tp('register', 'ICcWqisKl7t5wDz1');
</script>
   <!-- End TRUSTPILOTE Code -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Zone Ariana | Vente PS5 & Nintendo Switch en Tunisie</title>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Game Zone - Playstation 5, Nintendo Switch, Jeux Vidéo, Accessoires",
            "description": "Chez Game Zone Ariana, votre boutique gaming en Tunisie. Nous proposons les dernières consoles (PS5, PS4, Nintendo Switch, Xbox), leurs jeux, manettes, accessoires et cartes prépayées (PSN, Steam, Riot, Battlenet, iTunes, LOL, Valorant, Eshop...)",
            "url": "https://gameszone.tn"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Game Zone",
            "url": "https://gameszone.tn",
            "logo": {
                "@type": "ImageObject",
                "url": "https://gameszone.tn/media/blanccopie_ZG8wLD7.png",
                "width": 250,
                "height": 250
            },
            "foundingDate": "2014",
            "sameAs": [
                "https://www.facebook.com/gamezoneariana/",
                "https://www.instagram.com/gamezoneariana/"
            ]
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Game Zone",
            "url": "https://gameszone.tn",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://gameszone.tn/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "Game Zone",
            "description": "Votre destination pour les jeux vidéo en Tunisie.",
            "url": "https://gameszone.tn",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "B49 centre le forum",
                "addressLocality": "Ariana",
                "postalCode": "2080",
                "addressCountry": "TN"
            },
            "telephone": "+216-54373657",
            "openingHours": "Mo-Sa 9:00-19:00",
            "sameAs": [
                "https://www.facebook.com/gamezoneariana/",
                "https://www.instagram.com/gamezoneariana/"
            ]
        }
    </script>
    <link rel="icon" type="image/png" href="{% static 'gz/assets/favicon.ico' %}">
    <link rel="stylesheet" async href="{% static 'gz/styles/base.css' %}">
    <link rel="stylesheet" rel="preconnect"  href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script rel="preconnect" src="https://kit.fontawesome.com/f45f6ff45f.js" crossorigin="anonymous"></script>
    <script type="text/javascript" async src="{% static 'gz/js/components/vanilla-tilt.js' %}"></script>
    <script async src="https://cdn.lordicon.com/lordicon.js"></script>
    <script async src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script async src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script async src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta property="og:site_name" content="Game Zone">
    <meta property="og:title" content="GameZone Ariana | Consoles, Playstation, Xbox, Nintendo bas prix tunisie">
    <meta property="og:description" content="Gamezone, la plus grande boutique de jeux vidéo en Tunisie">
    <meta property="og:image" content="https://gameszone.tn/media/logo_noir_4ujZiJw.png">
    <meta property="og:url" content="https://gameszone.tn/">
    <meta property="og:type" content="website">
    <meta name="keywords" content="Playstation 5, Playstation 4, Manette Ps4, Manette PS5, Jeux PS4, Jeux PS5, Carte PSN, Nintendo Switch, Xbox">
    <meta name="description" content="Chez Game Zone Ariana, votre boutique gaming en Tunisie. Nous proposons les dernières consoles (PS5, PS4, Nintendo Switch, Xbox), leurs jeux, manettes, accessoires et cartes prépayées (PSN, Steam, Riot, Battlenet, iTunes, LOL, Valorant, Eshop...)">
    {% block head %}{% endblock head %}
</head>
<body class="body">
    <div class="preloader">
      <div class="cmd-loader">GAME<span>ZONE</span></div>
    </div>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7RMC3KH"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

    {% block header %}{% endblock header %}
    <script>
        {% for message in messages %}
            Swal.fire({
                icon: '{{message.tags}}',
                title: '{{message.tags}}',
                text: '{{message}}',
                timer: 3500
            });
        {% endfor %}
    </script>
    <main class="main" id="main">
        {% block main %}
            <section>
                <h2>Nos Catégories Principales</h2>
                <article>
                    <h3>PlayStation 5</h3>
                    <p>Découvrez les derniers jeux et accessoires pour PlayStation 5.</p>
                </article>
                <article>
                    <h3>Nintendo Switch</h3>
                    <p>Explorez une large gamme de jeux et accessoires pour Nintendo Switch.</p>
                </article>
                <article>
                    <h3>Metaquest 3</h3>
                    <p>Trouvez les meilleurs jeux et accessoires pour Metaquest 3.</p>
                </article>
            </section>
        {% endblock main %}
    </main>
    {% block footer %}{% endblock footer %}
    {% block scripts %}
        <!-- Custom script for all pages -->
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock scripts %}
</body>
</html>
