{% extends "gz/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "gz/styles/checkEmail.css" %}">
{% block title %}<title>GameZone | Vérifier l'email</title>{% endblock title %}
{% endblock head %}

{% block main %}
<section>
    <div class="message-box">
        <div class="message-value">
            <h2>Vérifier l'email</h2>
            <lord-icon
                src="https://cdn.lordicon.com/tmqaflqo.json"
                trigger="loop"
                state="loop-flying"
                colors="primary:#a5e830,secondary:#ebe6ef,tertiary:#3a3347"
                style="width:250px;height:250px">
            </lord-icon>
            
            <p>Un courriel a été envoyé à votre adresse. Veuillez vérifier votre boîte de réception et suivre les instructions pour réinitialiser votre mot de passe.</p>
            <div class="login">
                <p>Vous avez oublié votre mot de passe ? <a href="{% url "login" %}">Se connecter</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
{% comment %} <script src="{% static "gz/js/checkEmail.js" %}"></script> {% endcomment %}
{% endblock scripts %}
