{% extends "gz/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "gz/styles/forgetPassword.css" %}">
<title>GameZone | Mot de passe oublié</title>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock head %}

{% block main %}

<section>
    <div class="logo">
        <img src="{% static "gz/assets/logo/logo_white.png" %}" alt="logo game zone">
    </div>
    <div class="form-box">
        <div class="form-value">
            <form method="POST">
                {% csrf_token %}
                <h2>Mot de passe oublié</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {{form.email}}
                </div>
                <input class='inputSubmit' type="submit" value="Réinitialiser le mot de passe"></input>
                <div class="login">
                    <p>Vous avez retrouvé votre mot de passe ? <a href="{% url "login" %}">Se connecter</a></p>
                </div>
            </form>
        </div>
    </div>
</section>



{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script src="{% static "gz/js/forgetPassword.js" %}"></script>
{% endblock scripts %}
