{% extends 'gz/base.html' %}
{% load static %}
{% block head %}
    {% block title %}<title>Game Zone</title>{% endblock title %}
    
{% endblock head %}

{% block header %}
    {% include 'gz/components/navigation.html' %}
{% endblock header %}

{% block main %}


        {% include 'gz/components/hero.html' %}
        {% include 'gz/components/top-deals.html' %}
        {% include 'gz/components/CTA.html' %}
        {% include 'gz/components/pre-owned-deals.html' %}
        {% include 'gz/components/miniCTA.html' %}
        {% include 'gz/components/consoleCatalog.html' %}
        {% include 'gz/components/browseByCategory.html' %}
        {% include 'gz/components/brands.html' %}
        {% include 'gz/components/largeCTA.html' %}
        {% include 'gz/components/playstation.html' %}
        {% include 'gz/components/xbox.html' %}
        {% include 'gz/components/gamesCatalog.html' %}
        {% include 'gz/components/featuredGames.html' %}
        {% include 'gz/components/featuredGamesCTA.html' %}
        {% include 'gz/components/featuredGamesGenres.html' %}
        {% include 'gz/components/accesoriesCatalog.html' %}
        {% include 'gz/components/secondMiniCTA.html' %}
        

    </div>

{% endblock main %}
    
{% block footer %}
    {% include 'gz/components/newfooter.html' %}
{% endblock footer %}