{% extends "gz/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "gz/styles/paymentError.css" %}">
{% block title %}
<title>GameZone | Paiement échoué</title>
{% endblock title %}
{% endblock head %}


{% block header %}
{% include "gz/components/navigation.html" %}
{% endblock header %}

{% block main %}
<div class="main">
    <div class="completation-container">
        <div class="order-titles">
          <span class="h1-text">La commande n'a pas abouti</span>
          <span class="h2-text">Veuillez réessayer et vérifier votre paiement</span>
          <div class="tracking-infos">
          </div>
        </div>
        <img src="{% static "gz/assets/6988473.webp" %}" alt="Erreur de commande" width="450px" height="450px"/>
    </div>
</div>
{% endblock main %}
{% block scripts %}
<script>
    // Fonction de redirection
    function redirectToPage() {
        window.location.href = '/cart/'; // Remplacez par l'URL souhaitée
    }

    // Redirection après 5 secondes
    setTimeout(redirectToPage, 5000); // 5000 millisecondes = 5 secondes

</script>
{% endblock scripts %}
{% block footer %}
    {% include "gz/components/footer.html" %}
{% endblock footer %}
