{% load static %}
<link rel="stylesheet" href="{% static 'gz/styles/components/featured.css' %}">
<script type="text/javascript" src="{% static 'gz/js/components/vanilla-tilt.js' %}"></script>

<section class="main__featured" id="featured">
    <!-- cartes -->
    <div class="featured__cards">
        <div class="featured__card unselectable">
            <img src="{% static 'gz/assets/brandbook/Brandbook Logo GameZONE-03.png' %}" alt="Logo Game zone" width="350" height="450">
            <div class="featured__content center">
                <div class="featured__logo nowrap">LOGO</div>
                <div class="featured__h3">bo bakere</div>
                <!-- <p class="featured__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt culpa maxime consequatur reiciendis accusamus voluptas repudiandae provident autem aliquid nemo.</p> -->
                <a href="#" class="featured__a">Lire la suite</a>
            </div>
        </div>

        <div class="featured__card unselectable">
            <img src="{% static 'gz/assets/brandbook/Brandbook Logo GameZONE-03.png' %}" alt="logo game zone" width="350" height="450">
            <div class="featured__content center">
                <div class="featured__logo nowrap">LOGO</div>
                <div class="featured__h3">mohsen</div>
                <!-- <p class="featured__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt culpa maxime consequatur reiciendis accusamus voluptas repudiandae provident autem aliquid nemo.</p> -->
                <a href="#" class="featured__a">Lire la suite</a>
            </div>
        </div>

        <div class="featured__card unselectable">
            <img src="{% static 'gz/assets/brandbook/Brandbook Logo GameZONE-03.png' %}" alt="Logo game zone" width="350" height="450">
            <div class="featured__content center">
                <div class="featured__logo nowrap">LOGO</div>
                <div class="featured__h3">abdallah</div>
                <!-- <p class="featured__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt culpa maxime consequatur reiciendis accusamus voluptas repudiandae provident autem aliquid nemo.</p> -->
                <a href="#" class="featured__a">Lire la suite</a>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'gz/js/components/featured.js' %}"></script>
