{% load static %}
<link rel="stylesheet" href="{% static 'gz/styles/components/hero.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<header class="main__hero">
    <div class="hero">
        <div class="hero__slider swiper mySwiper">
            <div class="swiper-wrapper">
                {% for hero in heros %}
                <div class="swiper-slide unselectable">
                    <div class="swiper-slide-image">
                        <a href="/{{ hero.meta_title }}">
                            <picture>
                                <source media="(min-width: 768px)" type="image/webp" srcset="{{ hero.hero_banner.url }}">
                                <source type="image/webp" srcset="{{ hero.hero_banner_mobile.url }}">
                                <img 
                                    alt="{{ hero.title }}" 
                                    class="gme-v3-carousel-hero__img lazyloaded" 
                                    {% if hero.hero_banner_mobile %} 
                                    src="{{ hero.hero_banner_mobile.url }}" 
                                    {% else %} 
                                    src="{{ hero.hero_banner.url }}" 
                                    {% endif %} 
                                    loading="lazy" 
                                    fetchpriority="high">
                            </picture>
                        </a>
                    </div>
                    <div class="autoplay-progress autoplay-progressMini">
                        <svg viewBox="0 0 48 48">
                            <circle cx="24" cy="24" r="20"></circle>
                        </svg>
                        <span></span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination swiper-paginationMini"></div>
        </div>
    </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'gz/js/components/hero.js' %}"></script>
