{% load static %}

<link rel="stylesheet" href="{% static 'gz/styles/components/navigation.css' %}">
<link rel="stylesheet" href="{% static 'gz/styles/base.css' %}">

<div class="header__div">
    <div class="header__navbar">
        <div class="SideMenu">
            <button class="sidemenu_btn">
                <i class="fa-solid fa-bars"></i>
                <span>menu</span>
            </button>
            <div class="sidemenu_wrapper">
                <div class="sidemenu_header">
                    <h3 class="title">Menu</h3>
                    <button class="sidemenu_close">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
                <div class="menu_group">
                    <div class="store_container">
                        <div class="store_details">
                            <span class="address">
                                {{support_details.address}}
                            </span>
                            <span class="time">
                                {{support_details.open_time}} - {{support_details.closing_time}}
                            </span>
                            <span class="time">
                                {{support_details.working_days}}
                            </span>
                        </div>
                        <div class="store_icon">
                            <i class="fa-solid fa-store"></i>
                        </div>
                    </div>
                    <a href="{% url 'core:buyer-orders' %}" class="track_container">
                        <div class="track_details">
                            <p>Suivi de commande</p>
                        </div>
                        <div class="track_icon">
                            <i class="fa-solid fa-boxes-packing"></i>
                        </div>
                    </a>
                    <div class="categories_group">
                        <div class="categories_title_header">
                            <h2>catégories</h2>
                            <a href="/shop">Tous les produits</a>
                        </div>
                        <ul class="categories">
                            {% for category in categories %}
                                <li class="category_link" id="playstation-link" data-meta-title="{{ category.meta_title }}">
                                    <a href="/category/{{ category.meta_title }}">{{ category.title }} 
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sidemenu_overlay" id="sidemenu_overlay_playstation">
                <div class="sidemenu_header">
                    <button class="sidemenu_back">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="title"></div>
                    <button class="overlay_close">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
                <div class="see_all">
                    <h3 class="sidemenu_title">sous Catégories</h3>
                    <a href="" class='shopAllButton'>Tous les articles</a>
                </div>
                <ul class="Sub_categories">

                </ul>
            </div>
        </div>
        <div class="navbar__logo flexCenter">
            <a href="{% url 'store:home' %}"><img src="{{company.logo.url}}" alt="Logo Game zone" class="logo__img unselectable"></a>
        </div>

        <div class="navbar__search">
            <div class="search__div">

                <div class="search__ico" id="search__ico">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
                <div class="search__input">
                    <input type="text" name="search" id="nav_search" placeholder="Rechercher des jeux, des consoles">
                </div>

            </div>
            <div id="searchResult"></div>

        </div>

        <div class="navbar__navigation">

            {% if user.is_authenticated == False %}
                <a href="{% url 'userauths:sign-in' %}">
                    <div class="navigation__sign-in navigation__element">
                        <i class="fa-solid fa-user"></i>
                        <div class="sign-in__text">S'inscrire</div>
                    </div>
                </a>
            {% else %}
                <div class="user__signed">
                    <div class="navigation__sign-in navigation__element">
                        <i class="fa-solid fa-user"></i>
                        <div class="sign-in__text">{{user.username}}</div>
                    </div>
                </div>
                <div class="user_sidemenu_wrapper">
                    <div class="sidemenu_header">
                        <h3 class="title">Compte</h3>
                        <button class="user_sidemenu_close">
                            <i class="fa-solid fa-times"></i>
                        </button>
                    </div>
                    <div class="menu_group">
                        <div class="user_list_group">
                            <div>Bonjour, {{user.username}}</div>
                            <ul class="user_options">
                                <li class="option_link">
                                    <span class="fas fa-user"></span>
                                    <a href="{% url 'core:profile' %}">Aperçu du compte</a>
                                </li>
                                <li class="option_link">
                                    <span class="fas fa-list"></span>
                                    <a href="{% url 'core:buyer-orders' %}">Commandes</a>
                                </li>
                                <li class="option_link">
                                    <span class="fas fa-heart"></span>
                                    <a href="{% url 'core:buyer-wishlist' %}">Liste de souhaits</a>
                                </li>
                                <li class="option_link signout">
                                    <span class="fas fa-right-from-bracket"></span>
                                    <a href="{% url 'userauths:sign-out' %}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            <a href="{% url 'store:cart-view' %}">
                <div class="navigation__cart navigation__element mobile-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="cart__text cart-items-count">{{request.session.cart_data_obj|length}} Article</div>
                </div>
            </a>
            
        </div>

    </div>

    <div class="header__categories">
        <div class="categories__div">
            <div class="categories__div">
                {% for category in categories %}
                    <div class="category__div">
                        <a href="/category/{{ category.meta_title }}">{{ category.title }}</a>
                        <div class="sub-menu">
                            <span class="sort-by-up-arrow"></span>
                            {% for subcategory in category.subcategories.all %}
                                {% if subcategory.parent_subcategory is None %}
                                    <div class="subcategory__div">
                                        <a href="/category/{{ category.meta_title }}?subcategories={{ subcategory.meta_title }}">{{ subcategory.title }}
                                            {% if subcategory.child_subcategories.all %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                                            {% endif %}
                                        </a>
                                        {% if subcategory.child_subcategories.all %}
                                            <div class="sub-sub-menu">
                                                {% for sub_subcategory in subcategory.child_subcategories.all %}
                                                    <a href="/category/{{ category.meta_title }}?subcategories={{sub_subcategory.meta_title}}">{{ sub_subcategory.title }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
              
                <div class="right-content">
                    <a href="https://www.gameszone.tn/blog/" class="track_container">
                        <div class="track_details">
                            <p>Blog</p>
                        </div>
                        <div class="track_icon">
                            <i class="fa-solid fa-blog"></i>
                        </div>
                    </a>
                    <a href="tel:+216 54 373 657" class="track_container">
                        <div class="track_details">
                            <p>+216 54 373 657</p>
                        </div>
                        <div class="track_icon">
                            <i class="fa-solid fa-phone-flip"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'gz/js/components/navigation.js' %}"></script>

<script>
    let lastScrollTop = 0;

    const HeaderCatagories = document.querySelector(".header__categories");

    // Function to handle scroll event
    function handleScroll() {
        let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

        if (currentScroll > lastScrollTop) {
            // Scrolling down
            if (HeaderCatagories) {
                HeaderCatagories.style.opacity = "1";
                HeaderCatagories.style.transform = "translateY(-50px)";
            }
        } else {
            // Scrolling up
            if (HeaderCatagories) {
                HeaderCatagories.style.opacity = "1";
                HeaderCatagories.style.transform = "translateY(0px)";
            }
        }

        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // For Mobile or negative scrolling
    }

    // Add scroll event listener
    window.addEventListener('scroll', handleScroll);

    // SideBarMenu JS
    document.addEventListener("DOMContentLoaded", function () {
        const body = document.querySelector("body"); //page body
        const button = document.querySelector(".sidemenu_btn"); //hamburger
        const menu = document.querySelector(".sidemenu_wrapper"); //all side menu
        const close = document.querySelector(".sidemenu_close"); // x button to close the sidemenue
        const subMenuLinks = document.querySelectorAll(".category_link"); //category link
        const closeOverlay = document.querySelector(".overlay_close"); //close overlay
        const menuOverlay = document.querySelector(".sidemenu_overlay"); //subcategories overlay
        const shopAllButton = document.querySelector(".shopAllButton");
        const back = document.querySelector(".sidemenu_back"); //back arrow in the sub categories overlay
        const subSubMenuLinks = document.querySelectorAll(".sub_category_link"); //sub categories li s
        const subCategoriesDiv = document.querySelector(".Sub_categories") //Sub_categories div container

        // Check if elements are not null before adding event listeners
        if (button) {
            button.addEventListener("click", function () {
                menu.style.display = (menu.style.display === "none" || menu.style.display === "") ? "block" : "none";
                body.style.overflowY = menu.style.display === "none" ? "auto" : "hidden";
            });
        }

        if (subMenuLinks.length > 0) {
            subMenuLinks.forEach(function (link) {
                link.addEventListener("click", function (event) {
                    event.preventDefault(); // Prevent default link behavior
                    menuOverlay.style.display = "block";
                    menuOverlay.setAttribute('data-meta-title', this.getAttribute("data-meta-title")) // Change subcategories overlay data id attribute
                    const category = this.getAttribute("data-meta-title");

                    // Perform AJAX request to fetch subcategories
                    $.ajax({
                        type: 'GET',
                        url: `/get-subcategories/${category}`,
                        processData: false,
                        contentType: false,
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                        },
                        success: function(response) {
                            // Clear existing subcategories
                            subCategoriesDiv.innerHTML = '';
                            shopAllButton.href = `/category/${category}`;
                            // Populate subcategories
                            response.subcategories.forEach(function(subcategory) {
                                // Create a new list item for each subcategory
                                let listItem = document.createElement('li');
                                listItem.classList.add('sub_category_link');

                                // Create a link for the subcategory
                                let subcategoryLink = document.createElement('a');
                                subcategoryLink.href = `/category/${category}?subcategories=${subcategory.meta_title}`;
                                subcategoryLink.textContent = subcategory.title;

                                // Append the subcategory link to the list item
                                listItem.appendChild(subcategoryLink);

                                // Append the list item to the subcategories container
                                subCategoriesDiv.appendChild(listItem);
                            });
                        },
                        error: function(error) {
                            console.error('Error fetching subcategories:', error);
                        }
                    });

                    body.style.overflowY = "hidden";
                    const subMenuLinksTitle = link.textContent.trim(); // Get the innerText of the category
                    const sideMenuTitle = document.querySelector(".sidemenu_title");
                    if (sideMenuTitle) {
                        sideMenuTitle.textContent = subMenuLinksTitle; // Change subcategories overlay title
                    }
                });
            });
        }

        if (back) {
            back.addEventListener("click", function () {
                menuOverlay.style.display = "none";
                menu.style.display = "block";
            });
        }

        if (close) {
            close.addEventListener("click", function () {
                menuOverlay.style.display = "none";
                menu.style.display = "none";
                body.style.overflowY = "auto";
            });
        }

        if (closeOverlay) {
            closeOverlay.addEventListener("click", function () {
                menuOverlay.style.display = "none";
                menu.style.display = "none";
                body.style.overflowY = "auto";
            });
        }

        document.addEventListener("click", function (event) {
            if (menu && button && back && menuOverlay) {
                if (!menu.contains(event.target) && !button.contains(event.target) && !back.contains(event.target) && !menuOverlay.contains(event.target)) {
                    menu.style.display = "none";
                    menuOverlay.style.display = "none";
                    body.style.overflowY = "auto";
                }
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const body = document.querySelector("body");
        const user_sidemenu_wrapper = document.querySelector(".user_sidemenu_wrapper");
        const user_sidemenu_btn = document.querySelector(".user__signed");
        const user_sidemenu_close = document.querySelector(".user_sidemenu_close");

        // Check if elements are not null before adding event listeners
        if (user_sidemenu_btn) {
            user_sidemenu_btn.addEventListener("click", function () {
                user_sidemenu_wrapper.style.display = (user_sidemenu_wrapper.style.display === "none" || user_sidemenu_wrapper.style.display === "") ? "block" : "none";
                body.style.overflowY = user_sidemenu_wrapper.style.display === "none" ? "auto" : "hidden";
            });
        }

        if (user_sidemenu_close) {
            user_sidemenu_close.addEventListener("click", function () {
                user_sidemenu_wrapper.style.display = "none";
                body.style.overflowY = "auto";
            });
        }

        document.addEventListener("click", function (event) {
            if (user_sidemenu_wrapper && user_sidemenu_btn) {
                if (!user_sidemenu_wrapper.contains(event.target) && !user_sidemenu_btn.contains(event.target)) {
                    user_sidemenu_wrapper.style.display = "none";
                    body.style.overflowY = "auto";
                }
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("nav_search");
        const searchICO = document.querySelector(".search__ico");
        const searchResult = document.getElementById("searchResult");

        // Check if elements are not null before adding event listeners
        if (searchInput) {
            searchInput.addEventListener("input", function (event) {
                const q = event.target.value.trim();
                const formData = new FormData();
                formData.append('q', q);

                $.ajax({
                    type: 'POST',
                    url: '/nav-search/',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                    },
                    success: function(response) {
                        console.log(response.query_list);
                        searchResult.innerHTML = '';
                        if (response.query_list) {
                            response.query_list.forEach((query) => {
                                const div = document.createElement('div');
                                div.innerHTML = query["title"];
                                div.addEventListener('click', () => {
                                    window.location.href = `/${encodeURIComponent(query["meta_title"])}`;
                                });
                                searchResult.appendChild(div);
                                if (response.query_list.length > 0) {
                                    searchResult.style.display = "block";
                                } else {
                                    searchResult.style.display = "none";
                                }
                            });
                        }
                        if (q === '') {
                            searchResult.style.display = "none";
                        }
                    },
                    error: function(error) {
                        console.error('Error filtering products:', error);
                    }
                });
            });

            searchInput.addEventListener("keyup", function (event) {
                if (event.key === 'Enter') {
                    const q = event.target.value.trim();
                    if (q !== '') {
                        window.location.href = `/shop?q=${encodeURIComponent(q)}`;
                    }
                }
            });

            document.addEventListener("keyup", function (event) {
                if (event.key === 'Escape') {
                    resetSearch();
                }
            });

            document.body.addEventListener("click", function (event) {
                if (!event.target.matches('#nav_search') && !event.target.matches('#searchResult')) {
                    resetSearch();
                }
            });

            function resetSearch() {
                searchInput.value = ''; // Clear the input value
                searchResult.style.display = 'none'; // Hide the search results
            }
        }

        if (searchICO) {
            searchICO.addEventListener("click", function (event) {
                const q = searchInput.value.trim();
                if (q !== '') {
                    window.location.href = `/catalog?q=${encodeURIComponent(q)}`;
                }
            });
        }
    });

    // Function to generate a unique session ID
    function generateSessionId() {
        return 'guest_' + Date.now() + '_' + Math.floor(Math.random() * 100000);
    }

    // Function to retrieve or generate a session ID and display it
    function displaySessionId() {
        let sessionId = localStorage.getItem('sessionId');
        if (!sessionId) {
            sessionId = generateSessionId();
            localStorage.setItem('sessionId', sessionId);
        }
        console.log('Session ID: ' + sessionId);
    }

    // Call the function to display the session ID when the page loads
    document.addEventListener('DOMContentLoaded', function() {
        displaySessionId();
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

