{% load static %}
<link rel="stylesheet" href="{% static "gz/styles/components/playstation.css" %}">
<style>
    .text__title,
    .text__slogan {
        color: white;
    }
</style>
<div class="main__playstation">
    <div class="playstation__div flexCenter">
        <div class="playstation__layer1 playstation__layer">
            <div class="layer1__text">
                <h2 class="text__title">Playstation Hub</h2>
                <h2 class="text__slogan">Restez attentif à l'univers PlayStation</h2>
            </div>
        </div>
        <div class="playstation__layer3 playstation__layer">
            <div class="layer__CTA">
                <a href="/{{ playstation_banner.product.meta_title }}" class="layerCTA__div flexCenter">
                    <div class="layerCTA__img">
                        <picture>
                            <source media="(min-width: 768px)" type="image/webp" srcset="{{ playstation_banner.banner.url }}">
                            <source type="image/webp" srcset="{{ playstation_banner.banner_mobile.url }}">
                            <img alt="{{ playstation_banner.product.title }}" class="gme-v3-carousel-hero__img lazyloaded" src="{{ playstation_banner.banner.url }}" fetchpriority="high">
                        </picture>
                    </div>
                </a>
            </div>
        </div>
        <div class="playstation__layer2 playstation__layer">
            <div class="layer2__cards flexCenter">
                {% for product in playstation_deals %}
                <a href="/{{ product.meta_title }}">
                    <div class="cards__card">
                        <div class="card__upper flexCenter">{{ product.title|title|truncatechars:20 }}</div>
                        <div class="card__lower flexCenter">
                            <div class="lower__div">
                                <div class="lower__img flexCenter"><img src="{{ product.deal_image.url }}" alt="{{ product.title }}"></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
