{% load static %}
<link rel="stylesheet" href="{% static "gz/styles/components/miniCTA.css" %}">

<div class="main__miniCTA flexCenter">

    <a href="/{{cta4.product.meta_title}}" class="miniCTA__div">

        {% comment %} <img src="{{cta4.banner.url}}" alt=""> {% endcomment %}
        <picture>
            <!-- WebP format for screens 768px and above cta4-->
            <source media="(min-width: 768px)" type="image/webp" srcset="{{cta4.banner.url}}">
        
            <!-- WebP format for screens below 768px -->
            <source type="image/webp" srcset="{{cta4.banner_mobile.url}}">
        
            <!-- Fallback for browsers that do not support <picture> or WebP -->
            <img alt="" class="gme-v3-carousel-hero__img lazyloaded" src="{{cta4.banner.url}}" fetchpriority="high">
        </picture>

    </a>

</div>