{% extends "partials/base.html" %}
{% load static %}
{% block title %}
checkout
{% endblock title %}
{% block content %}
<style>
   ul,li{
      list-style: none;
   }
</style>
<div class="body_content_wrapper position-relative" style="margin-top: 40px;">
   <section class="inner_page_breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="breadcrumb_content">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:cart-view' %}">Boutique</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:cart-view' %}">Mon Panier</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store:shipping_address' %}">Détails de Livraison & de Facturation</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a>Paiement</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
   <!-- Contenu du Paiement -->
   <section class="shop-checkouts pt30" >
      <div class="container">
         <div class="row">
            <div class="col-sm-6 col-lg-4 m-auto">
               <div class="main-title text-center mb50">
                  <h2 class="title">Passons à la Commande maintenant 🙂</h2>
               </div>
            </div>
         </div>
         <div class="row mt15" id="cartList">
            <div class="col-lg-8 col-xl-9">
               
               <div class="checkout_form style2">
                  
                  {% if address.billing_country != None %}
                  <h3 class="titfle mb20">Détails de Livraison</h3>
                  {% else %}
                  <h3 class="tiftle mb20">Détails de Livraison & de Facturation</h3>
                  {% endif %}
                  <!-- <div class="alert alert-warning">
                     <strong>Veuillez vérifier votre adresse de livraison avant de passer une commande</strong>
                  </div> -->
                  <a href="{% url 'store:shipping_address' %}" class="dashed-custom">Changer l'Adresse</a>
                  <div class="checkout_coupon ui_kit_button mt-4">
                     <form class="form2" id="coupon_form" name="contact_form" action="#" method="post">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="form-group">
                                 <label class="form-label">Nom Complet *</label>
                                 <input class="form-control form_control" type="text" readonly value="{{ address.full_name }}">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group">
                                 <label class="form-label">Votre Email</label>
                                 <input name="form_email" class="form-control form_control email" type="email" readonly value="{{ address.email }}">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group">
                                 <label class="form-label">Téléphone *</label>
                                 <input name="form_phone" class="form-control form_control" type="text" readonly value="{{ address.mobile }}">
                              </div>
                           </div>
                           
                          
                           <div class="col-sm-4">
                              <div class="form-group">
                                 <label class="form-label">Pays*</label>
                                 <input class="form-control form_control" type="text" readonly value="{{ address.country }}">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group">
                                 <label class="form-label">Région</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.state }}">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group">
                                 <label class="form-label">Ville</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.town_city }}">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group">
                                 <label class="form-label">Adresse Domicile</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.address }}">
                              </div>
                           </div>
                           <!-- <div class="col-sm-12">
                              <div class="form-group">
                                 <label class="form-label">Code Postal</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.postal_code }}">
                              </div>
                           </div> -->
                           {% if address.billing_country != None %}
                              <hr>
                              <h3 class="titfle mb20">Détails de Facturation</h3>
                           {% endif %}
                           {% if address.billing_country != None %}

                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="form-label">Pays de Facturation*</label>
                                 <input class="form-control form_control" type="text" readonly value="{{ address.billing_country }}">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="form-label">Région de Facturation</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.billing_state }}">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="form-label">Ville de Facturation</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.billing_town_city }}">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group">
                                 <label class="form-label">Adresse Domicile de Facturation</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.billing_address }}">
                              </div>
                           </div>
                           <!-- <div class="col-sm-12">
                              <div class="form-group">
                                 <label class="form-label">Code Postal de Facturation</label>
                                 <input class="form-control form_control mb10" type="text" readonly value="{{ address.billing_postal_code }}">
                              </div>
                           </div> -->
                           {% endif %}
                        </div>
                     </form>
                     <div class="ui_kit_button payment_widget_btn">
                        <input type="hidden" value="{{address.email}}" id="email">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <p class="para">Vous vous apprêtez à payer pour <span class="cart-list"><b>{{order_items.count}}</b></span> article(s)</p>
                <div class="order_sidebar_widget checkout_page mb30 mb30">
                    <h4 class="title">Votre Commande</h4>
                    <ul>
                       <li class="subtitle">
                          <p>Sous-Total <span class="float-end totals">{{ cs }}{{order.price|floatformat:2}}</span></p>
                       </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                       <li class="subtitle">
                          <p>Livraison <span class="float-end totals">{{ cs }}{{ order.shipping|floatformat:2 }}</span></p>
                       </li>
                       
                       <li class="subtitle">
                          <p>Total  <span class="float-end totals">{{cs}}{{order.original_total|floatformat:2}}</span></p>
                          
                          {% if order.saved != 0.00 %}
                           (<span style="font-size: 10px; margin-bottom: -10px;"><small>Avant Réduction</small></span>)
                          {% endif %}
                           
                       </li>
                       {% if order.saved != 0.00 %}
                        <li class="subtitle">
                           <p style="color: green;">Nouveau Total <span class="float-end totals">{{cs}}{{order.total|floatformat:2}}</span></p>
                           <small style="color: red;">Réduction: <span class="float-end totals">-{{cs}}{{order.saved|floatformat:2}}</span></small>
                        </li>
                     {% endif %}
                    </ul>
                 </div>
                 <div class="checkout_form mt30 mb50">
                  <div class="checkout_coupon posr d-flex  mb-2">
                    <form class="form_one posr mb10-lg d-flex d-md-blfock" method="POST">
                      {% csrf_token %}
                      <input class="form-control coupon_input" name="code" type="search" placeholder="Utiliser un Code Promo" aria-label="Search">
                      <button type="submit" class="apply_rcount_btn purple-btn" style="height: 4px; padding-bottom: 30px; margin-top: 7px;"><i class="fas fa-check-circle"></i></button>
                    </form>
                  </div>
                  {% for c in order.coupons.all %}
                     
                     {% if c.type == "Flat Rate" %}
                        <small style="color: green; font-size: 12px;"><b class="text-success" >{{ cs }}{{c.discount}} DE RÉDUCTION - {{c.code}}</b> Activé.</small> <br>
                     {% else %}
                        <small style="color: green; font-size: 12px;"><b class="text-success" >{{c.discount}}% DE RÉDUCTION - {{c.code}}</b> Activé.</small> <br>
                     {% endif %}
                        
                  {% endfor %}
                </div>
                 <div class="ui_kit_button payment_widget_btn">
                  {% if order.payment_method == "credit_card" %}
                  <button  button id="checkout-button" class="btn btn-track purple-btn w100 mt20">Payer par Carte de Débit  <i class="fas fa-credit-card"></i></button>
                  {% else %}
                  <button  button id="place-order-button" class="place-order-button btn btn-track purple-btn w100 mt20">Passer la Commande</button>
                  {% endif %}
                  {% comment %} <button class="btn btn-track purple-btn w100 mt10" style="height: 80px;">Payer avec PayPal <i class="fab fa-paypal"></i> {{paypal_payment_button.render}}</button> {% endcomment %}
               </div>
            </div>
         </div>
         <br>
         <br>
         <br>
        
      </div>
   </section>

</div>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
   $(document).ready(function() {
       console.log("Document prêt");

       // Gestionnaire d'événement du clic sur le bouton de paiement
       $('#checkout-button').on('click', function() {
           console.log("Bouton de paiement cliqué");

           // Votre logique de bouton de paiement existante ici
           var email = document.getElementById('email').value;
           if (email.length == 0) {
               alert("Veuillez saisir votre adresse e-mail.");
               return;
           }
           fetch("{% url 'store:api_checkout_session' id=order.oid %}", {
                   method: 'POST',
                   body: JSON.stringify({
                       email: email
                   })
               })
               .then(function(response) {
                   console.log(response);
                   return response.json();
               })
               .then(function(response) {
                   console.log(response)
                   return window.location.href = response.payUrl;
               })
               .then(function(result) {
                   if (result.error) {
                       alert(result.error.message);
                   }
               })
               .catch(function(error) {
                   console.error('Erreur:', error);
               });
       });

       // Gestionnaire d'événement du clic sur le bouton de passer la commande
       $('#place-order-button').on('click', function() {
           console.log("Bouton de passer la commande cliqué");
           window.location.href = '{% url 'store:api_checkout_session' id=order.oid %}';
           // Votre logique de bouton de passer la commande existante ici
       });
   });
</script>
{% endblock content %}
